:root{
  background-color: rgba(58, 37, 193, 0.388);
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-img{
  width: 360px;
  height: 360px;
  margin-bottom: -100px;
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}

.background {
  z-index: 0;
  height: 100%;
  padding: 50px;
  border-radius: 50px;
}

.main{
  z-index: 10;
}

/* estilização das opções de seleção */
.role-selection{
  padding: 30px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .sing-up{
   background-color: rgb(47, 118, 225); 
  }

  & .login{
    background-color: rgba(47, 225, 118, 0.797);
  }
}

/* estilização do footer */
.footer{
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  
  & .footer-content{
    max-width: 1200px;
    margin: 0 auto;

    & .footer-nav{
      margin-top: 10px;
    }

    
    & a{
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    & a:hover{
      text-decoration: underline;
    }
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}